/.dist
/.vscode
/app.ipynb
/app.py
/DA0101EN-4-Review-Model-Development-20231003-1696291200.jupyterlite.ipynb
/EV_Population.csv
/Final-Assignment Library-v2.ipynb
/House_Sales_in_King_Count_USA-20231003-1696291200.jupyterlite.ipynb
/House_Sales_in_King_Count_USA.ipynb
/Images
/Model_Evaluation_and_Refinement_cars.ipynb
/module_5_auto.csv
/new.py
/new.test.py
/newplot.png
/newplot2
/practice_project-20230929-1695945600.ipynb
/Python Cheat Sheet - The Basics Coursera.pdf
/Python Cheat Sheet for Data Analysis.pdf
/Toyota_Data.csv
/__pycache__